<section id="projects">
  <div class="container">
    <h3>{{ .Site.Data.projects.name }}</h3>
    <div class="panel panel-default">
      <div class="panel-body">
      {{ range $i, $el := .Site.Data.projects.source }}
        <h5>
          <i class="{{ .icon }}"></i>&nbsp;&nbsp;
	  <strong><a href="{{$el.link}}">Project {{ add $i 1 }}</a></strong>&nbsp;-&nbsp;{{ $el.description }}
        </h5>
      {{ end }}
      </div>
    </div>
  </div>
</section>
