<footer>
  <div id="footer">
    <div class="container">
      <p class="text-muted">&copy; All rights reserved. Powered by Hugo and
      sustain theme with ♥</p>
    </div>
  </div>
</footer>
<div class="footer"></div>

{{ partial "js" . }}
