{{ partial "head" . }}
  <body>
    <div id="wrap">
      {{ partial "header" . }}
      <section id="about">
        <div class="container">
        <div class="avatar">
          <img class="img-circle" src="{{ .Site.BaseURL }}img/{{ .Site.Params.avatar }}" alt="Responsive image">
        </div>
        <h3>I'm <strong>{{ .Site.Params.author }}</strong>, a Technical Architect.</h3>
        <h3>I love all things systems, open source and wisdom acquisition.</h3>
        <h3>Have a look at some of my working <a href="{{ .Site.BaseURL }}projects/"> projects</a>.</h3>
        <h3>For more check out my professional <a href="https://www.linkedin.com/in/yarapavan/">resume</a>.</h3>
        <h3>Contact me at <a href="http://twitter.com/pavanyara_">@pavanyara_</a> or by <a href="mailto:pavan@yarapavan.in">email</a>.</h3>
        {{ partial "social.html" . }}
        </div>
      </section>
    </div>
    {{ partial "footer" . }}
  </body>
</html>
