<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="map[]" />
    <meta name="description" content="A Log Journal">
    <link rel="shortcut icon" type="image/x-icon" href="/img/favicon.ico">
    <title>Notes - 31st March 2018</title>
    <meta name="generator" content="Hugo 0.54.0" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/main.css" />
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400,200bold,400old" />
    
    <!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
			<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->

    
<script type="application/javascript">
var doNotTrack = false;
if (!doNotTrack) {
	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
	ga('create', 'UA-116300175-1', 'auto');
	
	ga('send', 'pageview');
}
</script>

  </head>

  <body>
    <div id="wrap">

      
      <nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="/"><i class="fa fa-home"></i></a>
    </div>
    <div id="navbar">
      <ul class="nav navbar-nav navbar-right">
      
        
        <li><a href="/blog/">BLOG</a></li>
        
        <li><a href="/projects/">PROJECTS</a></li>
        
        <li><a href="https://www.linkedin.com/in/yarapavan/">RESUME</a></li>
        
      
      </ul>
    </div>
  </div>
</nav>

      
      <div class="container">
        <div class="blog-post">
          <h3>
            <strong><a href="/blog/notes-31-march-2018/">Notes - 31st March 2018</a></strong>
          </h3>
        </div>
        <div class="blog-title">
          <h4>
          March 31, 2018
            &nbsp;&nbsp;
            
            <span class="label label-success">things-learnt</span>
            
          </h4>
        </div>
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="blogpost">
              

<h4 id="links">Links</h4>

<ul>
<li><p><a href="http://www.niemanlab.org/2018/03/this-is-how-cambridge-analyticas-facebook-targeting-model-really-worked-according-to-the-person-who-built-it/">This is how Cambridge Analytica&rsquo;s Facebook targeting model really worked</a>. The whole point of a dimension reduction model is to mathematically represent the data in simpler form. It’s as if Cambridge Analytica took a very high-resolution photograph, resized it to be smaller, and then deleted the original. The photo still exists — and as long as Cambridge Analytica’s models exist, the data effectively does too.</p></li>

<li><p><a href="https://blog.insightdatascience.com/moving-towards-managing-ai-products-5268c5e9ecf2">Lessons for building AI-Driven Products</a>. 1. Track how the market is using AI technology 2.Follow the trends in deep learning research 3. Cut through the AI hype — focus on practical use cases 4. Be obsessed with customer-centric data 5. Build a usable product with a simple model before exploring complicated AI models 6. Iteratively build use cases where AI directly impacts a metric 7. Build Breadth-first (Data/Pipeline/Model) instead of Depth-first (AI model) 8. Ensure your product fails gracefully 9. Insist on AI model explainability 10. Establish clear communication with your teams — know the fundamentals and language of data and ML. <img src="https://cdn-images-1.medium.com/max/1600/1*FCoHl9-TeFV5ZJj8xEhtzQ.png" alt="AI-Driven Product Management" /></p></li>
</ul>

<p>The top HN comment, on this topic, summarizes as follows: As someone who is a product manager in the commercialized AI SaaS space, the most important pieces of feedback I would give a new PM here:</p>

<ol>
<li><p>Don&rsquo;t let your -brilliant- colleagues try to force their -brilliantly complex- solution of a problem - clearly define market problems, and don&rsquo;t let the team try to go the route of trying to force fit a solution to a market problem. Market problems come first.</p></li>

<li><p>Frame the market problems appropriately for your ML/AI teams, and practice trying to frame the problem from a variety of angles. Framing from different angles promotes the &lsquo;Ah-ha&rsquo; moment in terms of the right way to solve the problem from the ML side.</p></li>

<li><p>Don&rsquo;t commit serious time to a model before having a naive solution to benchmark against. Always have a naive solution to compare against the AI solution. &lsquo;Naive&rsquo; here may be a simple linear regression, RMSE, or multi armed bandit/Thompson sampling.</p></li>
</ol>

              <hr>
              <div class="related-posts">
                <h5>Related Posts</h5>
                
                  <div class="row">
                    <div class="col-sm-4 col-md-4 col-lg-4">
                      <h6 style="text-align: right">
                        April 9, 2018
                      </h6>
                    </div>
                    <div class="col-sm-8 col-md-8 col-lg-8">
                      <h6 style="text-align: left">
                        <strong><a href="/blog/notes-09-apr-2018/">Notes - April 9, 2018</a></strong>
                      </h6>
                    </div>
                  </div>
                
                  <div class="row">
                    <div class="col-sm-4 col-md-4 col-lg-4">
                      <h6 style="text-align: right">
                        March 30, 2018
                      </h6>
                    </div>
                    <div class="col-sm-8 col-md-8 col-lg-8">
                      <h6 style="text-align: left">
                        <strong><a href="/blog/pmarca-article/">Pmarca Guide to Personal Productivity</a></strong>
                      </h6>
                    </div>
                  </div>
                
                  <div class="row">
                    <div class="col-sm-4 col-md-4 col-lg-4">
                      <h6 style="text-align: right">
                        March 29, 2018
                      </h6>
                    </div>
                    <div class="col-sm-8 col-md-8 col-lg-8">
                      <h6 style="text-align: left">
                        <strong><a href="/blog/kahneman-interiew/">This Much I know - Daniel Kahneman</a></strong>
                      </h6>
                    </div>
                  </div>
                
              </div>
            </div>
          </div>
          <hr>
        </div>
      </div>
      
    </div>

    
    <footer>
  <div id="footer">
    <div class="container">
      <p class="text-muted">&copy; All rights reserved. Powered by Hugo and
      sustain theme with ♥</p>
    </div>
  </div>
</footer>
<div class="footer"></div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="/js/docs.min.js"></script>
<script src="/js/main.js"></script>

<script src="/js/ie10-viewport-bug-workaround.js"></script>


    
  </body>
</html>
